@page "/doctor"
@attribute [Authorize(Roles = "Doctor, Admin")]
@inject ISnackbar Snackbar
@inject ILocalStorageService LocalStorage

<PageTitle>Doctor</PageTitle>

<h3>Doctor</h3>

@if (_doctors is null || _doctors.Count <= 0)
{
    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">Loading...</MudText>
}
else
{
    <MudTable Items="_doctors" Striped="true" Hover="true">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Deleted</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">
                <MudTextField T="string" @bind-Value="context.Name" Variant="Variant.Outlined" />
            </MudTd>
            <MudTd DataLabel="Email">
                <MudTextField T="string" @bind-Value="context.Email" Variant="Variant.Outlined" />
            </MudTd>
            <MudTd DataLabel="Deleted">
                <MudSwitch @bind-Checked="context.IsDeleted" Color="Color.Error" />
            </MudTd>
            <MudTd DataLabel="Actions">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => EditDoctor(context)">EDIT</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => DeleteDoctor(context.Id)">DELETE</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudDivider Class="my-4" />

<MudPaper Elevation="4" Class="pa-4">
    <MudTextField T="string" Label="Name" @bind-Value="_doctor.Name" Variant="Variant.Outlined" Class="mb-3" />
    <MudTextField T="string" Label="E-mail" @bind-Value="_doctor.Email" Variant="Variant.Outlined" Class="mb-3" />
    <MudSwitch @bind-Checked="_doctor.IsDeleted" Color="Color.Error" Label="Is Deleted" />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddOrUpdate" Class="mt-3">Save</MudButton>
</MudPaper>

@code {
    private IList<DoctorAppointmentBooking.Domain.Entities.Doctor>? _doctors;
    private DoctorAppointmentBooking.Domain.Entities.Doctor _doctor = new();
    [Inject] private IRestClient RestClient { get; set; } = default!;
    [Inject] private BaseUrlConfiguration BaseUrlConfig { get; set; } = default!;
    RestRequest request;
    RestResponse<ResultViewModel<DoctorAppointmentBooking.Domain.Entities.Doctor>> response;
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadDoctors();
    }

    private async Task LoadDoctors()
    {
        try
        {
            var request = new RestRequest($"{BaseUrlConfig.ApiBase}/v1/Doctor/GetAllDoctor");
            var token = await GetToken();
            request.AddHeader("Authorization", $"Bearer {token}");

            var response = await RestClient.ExecuteAsync<ResultViewModel<IList<DoctorAppointmentBooking.Domain.Entities.Doctor>>>(request);
            if (response.StatusCode == HttpStatusCode.OK)
            {
                _doctors = response?.Data?.Data;
            }
            else
            {
                if (response.Data?.Errors != null && response.Data.Errors.Any())
                {
                    foreach (var error in response.Data?.Errors)
                    {
                        Snackbar.Add(error, Severity.Error);
                    }
                }
                else
                {
                    Snackbar.Add($"Erro ao processar os Doctors: {response.StatusDescription}", Severity.Error);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Exception updating profile: " + ex.Message, Severity.Error);
        }
    }

    private async Task<string?> GetToken()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        return token;
    }

    private async Task AddOrUpdate()
    {
        try
        {
            if (_doctor?.Id == 0)
            {
                request = new RestRequest($"{BaseUrlConfig.ApiBase}/v1/Doctor/", Method.Post);
            }
            else
            {
                request = new RestRequest($"{BaseUrlConfig.ApiBase}/v1/Doctor/{_doctor.Id}", Method.Put);
            }

            request.AddJsonBody(_doctor);
            var token = await GetToken();
            request.AddHeader("Authorization", $"Bearer {token}");
            response = await RestClient.ExecuteAsync<ResultViewModel<DoctorAppointmentBooking.Domain.Entities.Doctor>>(request);

            if (response.StatusCode == HttpStatusCode.OK)
            {
                Snackbar.Add("Doctor saved successfully", Severity.Success);
                await LoadDoctors();
                _doctor = new DoctorAppointmentBooking.Domain.Entities.Doctor();
            }
            else
            {
                if (response.Data?.Errors != null && response.Data.Errors.Any())
                {
                    foreach (var error in response.Data?.Errors)
                    {
                        Snackbar.Add(error, Severity.Error);
                    }
                }
                else
                {
                    Snackbar.Add($"Error saving Doctor: {response.StatusDescription}", Severity.Error);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Exception saving Doctor: " + ex.Message, Severity.Error);
        }
    }

    private async Task EditDoctor(DoctorAppointmentBooking.Domain.Entities.Doctor doctor)
    {
        _doctor = doctor;
    }

    private async Task DeleteDoctor(int id)
    {
        try
        {
            var request = new RestRequest($"{BaseUrlConfig.ApiBase}/v1/Doctor/{id}", Method.Delete);
            var token = await GetToken();
            request.AddHeader("Authorization", $"Bearer {token}");
            var response = await RestClient.ExecuteAsync<ResultViewModel<DoctorAppointmentBooking.Domain.Entities.Doctor>>(request);

            if (response.StatusCode == HttpStatusCode.OK)
            {
                Snackbar.Add("Doctor deleted successfully", Severity.Success);
                await LoadDoctors();
            }
            else
            {
                if (response.Data?.Errors != null && response.Data.Errors.Any())
                {
                    foreach (var error in response.Data?.Errors)
                    {
                        Snackbar.Add(error, Severity.Error);
                    }
                }
                else
                {
                    Snackbar.Add($"Error deleting Doctor: {response.StatusDescription}", Severity.Error);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Exception deleting Doctor: " + ex.Message, Severity.Error);
        }
    }
}
