@page "/logout"
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Logout</PageTitle>

<h3>Logout</h3>

<p>Logging out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        ((CustomAuthStateProvider)AuthenticationStateProvider).NotifyUserLogout();
        Navigation.NavigateTo("/login");
    }
}