@page "/"
@attribute [Authorize] // Protege a página para usuários autenticados
@inject IRestClient RestClient
@using MedicalAppointment.Presentation.BlazorWebApp.Configuration
@using Microsoft.AspNetCore.Authorization

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.