@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @code {
            protected override async Task OnInitializedAsync()
            {
                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                var user = authState.User;

                if (!user.Identity.IsAuthenticated)
                {
                    Navigation.NavigateTo("/login");
                }
            }
        }
    </NotAuthorized>
</AuthorizeView>